@using System.Globalization
@model FinFolio.Web.Models.SchemeViewModel

<div class="testimonial-item text-center">
   <h5 class="mb-1">@Model.Name</h5>
   <p class="h6">Fund House: @Model.AMC</p>
   @if (@Model.NAVHistory !=null && @Model.NAVHistory.Count > 1)
  {
   <p class="text-white">NAV Date: @Model.NAVHistory[0].Date.ToString("dd/MM/yyyy")</p>
        <p class="text-white">NAV:<label class="@Model.NavCSS"> @Model.NAVHistory[0].Value.ToString("C", CultureInfo.CreateSpecificCulture("en-IN")) </label></p>
    }
    else
    {
         <p class="text-danger">NAV Details not found!</p>
    }

</div>
