
@model FinFolio.Web.Models.SchemeViewModel
@{
    ViewData["Title"] = $"FinFolio - {@Model.Name}";
    OperationResultViewModel resultVM = TempData.Get<OperationResultViewModel>(Constants.ADDTOWISHLISTRESULT);
}

@if(resultVM != null)
{
    @await Html.PartialAsync("~/Views/Shared/_ToastAlert.cshtml", resultVM);
}
<div class="testimonial-item text-center">
   <h1 class="mb-1 text-info">@Model.Name</h1>
   <p class="h6">@Model.AMC</p>
   @if (@Model.NAVHistory !=null && @Model.NAVHistory.Count > 1)
  {
   <p class="text-white">NAV Date : @Model.NAVHistory[0].Date.ToString("dd/MM/yyyy")</p>
        <p class="text-white">NAV : <label class="@Model.NavCSS"> @Model.NAVHistory[0].Value.ToString("C", CultureInfo.CreateSpecificCulture("en-IN")) </label></p>
    }
    else
    {
         <p class="text-danger">NAV Details not found!</p>
    }
 @if(User.Identity?.IsAuthenticated == true)
        {
            <div class="testimonial-item text-center">
                @if(resultVM == null)
                {
                    <form asp-controller="Wishlist" asp-action="Add" asp-antiforgery="true" method="post">
                        <input type="hidden" asp-for="@Model.Id"/>
                        <button type="submit" class="btn btn-info m-2">Add To Wishlist</button>
                    </form>
                }
               else
                {
                    <a asp-controller="Wishlist" asp-action="Index">Go To Wishlist</a>
                }
            </div> 
        }
 else
        {
             <div class="testimonial-item text-center">
             <p class="text-warning">Please Sign In to add this fund to your wishlist!</p>
             <a class="btn btn-primary m-2" asp-area="MicrosoftIdentity" asp-controller="Account" asp-action="SignIn" asp-route-redirectUri="/Scheme/SchemeDetails/@Model.Id" >Sign in</a>
            </div> 
        }
</div>
       
